.showEmail {
 
    display: none;
       
}

.showAxapta {
 
    display: none;
       
}

.showGpp {
 
    display: none;
       
}

.showBuh {
 
    display: none;
       
}

.showBase {
 
    display: none;
       
}

.showTab {
 
    display: none;
       
}