.mainBlock {

    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    position: absolute;
    
}

.menu {

    width: 15%;
    height: 100%;
    float: left;
    position: fixed;
    background-color: #d1d1d1;
    
}
.content {
 
    width: 85%;
    height: 100%;
    float: right;
    position: relative;
    
}
.login {
 
    position: relative;
    margin: 20% 25% 25% 25%;    
    
}

.login input {

    width: 200px;
    height: 30px;

}


.failLogin {
 
    width: 250px;
    height: 250px;
    position: fixed;
    top: 25%;
    left:45%;
    right: 45%;
    
    
}
.formAdmins {
    
    width: 500px;
    
}
#blocks {
 
    position: relative;
    left: 50%;
    width: 700px;
    margin: 0px 0px 0px -300px;
    
}
.tableOBR {
    width: 90%;   
}
#names {
     text-align: right;   
}